<!DOCTYPE html>
<html>
    <head>

        <title>change-password</title>
        <title>Register</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
        <script>
            $(document).ready(function(){
  $("button").click(function(){
    $.post("http://localhost:8001/test",
  password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password"));

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}
  
password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;

        </script> 
    </head>
     <body class="text-primary">
       
        <div class="container d-flex justify-content-center ">
            <form action=" ">
                <div class="form-group row">
                <label class="col-sm-6" for=""></label>
            <div class="col-sm-6"><h6>Financial Paradise</h6></div></div>
        
            <div class="form-group row">
            <label class="col-sm-6" for="new password">New Password</label>
                <div class= "col-sum-6"><input type="text" class="form-control form-control-sm border-primary" name="New_Password" placeholder="New Password" id="new_password"  /></div>
            </div>
            <br>
        
            <div class="form-group row">
                <label class="col-sm-6" for="confirm password">Confirm Password</label>
                    <div class="col-sm-6"><input type="text" name="Confirm_Password" class="form-control form-control-sm border-primary" placeholder="Confirm Password" id="confirm_password" /></div>
            </div>
            <br>

            <div class="">
                <button type="button" class="btn-primary btn-sm">Submit</button>
            
        </div>        
    </form>
</div>
    </body>
  </html>}