<!DOCTYPE html>
<html>
    <head>
        <title>change_password</title>
    </head>
        <body>
            <center>
                <h5>Financial Paradise</h5>
                <label>
                    New Password
                    <input type="text" name="new password" size="8" />
                </label>
                <br />
                <label>
                    Confirm password
                    <input type="text" name="confirm password" size="8" />
                </label>
                <br />
                <input type="submit" name="submit" value="Submit" id="submit" />   
            </center>
        </body>

</html>