<!DOCTYPE html>
<html>
    <head>
        <title>Confirm-Registration</title>
    </head>
    <body>
        <center>
            <h5>Financial Paradise</h5>
            <p>Enter the code sent to your phone number</p>
            <label>
            Code
                <input type="text" name="code" size="6" id="code_for_registration" />
                <input type="submit" name="submit" value="submit" id="submit_for-registration" />
            </label>
        </center>    
    </body>

</html>    